*,
*::before,
*::after {
  box-sizing: border-box;
}

.heading {
  text-align: center;
}

.contact-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(4, 200px);
}

.contact-card {
  width: 300px;
  height: 150px;
  background-color: rgb(168, 198, 225);
  border: solid 2px black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 2px;
  font-weight: 600;
}

form {
  width: 300px;
  height: 150px;
  background-color: rgb(79, 125, 164);
  border: solid 2px black;
  border-radius: 5px;
  padding: 0px 60px;
  margin-bottom: 2px;
}

h4 {
  /* padding: 0px; */
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 25px;
}

form input {
  border-radius: 5px;
  padding: 5px;
}

.btn {
  border-radius: 5px;
  margin-right: 5px;
}
.list-btn {
  border-radius: 5px;
  margin-right: 10px;
}

.label{
  font-weight: bold;
}
